.avatar
  position relative
  display inline-block
  width 24px
  height 24px
  border-radius 50%
  overflow hidden
  img
    position absolute
    top 50%
    left 0
    width 100%
    transform translateY(-50%)
